<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backgrounds</key>
	<dict>
		<key>sky</key>
		<dict>
			<key>modelName</key>
			<string>BGTitle</string>
			<key>fgTexture</key>
			<string>tex_fgresults</string>
			<key>bgTexture</key>
			<string>tex_bgtitle</string>
			<key>xoffset</key>
			<integer>0</integer>
			<key>yoffset</key>
			<integer>-200</integer>
			<key>zoffset</key>
			<integer>-300</integer>
			<key>scale</key>
			<integer>100</integer>
		</dict>
		<key>sky - 2</key>
		<dict>
			<key>modelName</key>
			<string>imgquad</string>
			<key>fgTexture</key>
			<string>tex_fgresults</string>
			<key>bgTexture</key>
			<string>tex_bgsky</string>
			<key>xoffset</key>
			<integer>0</integer>
			<key>yoffset</key>
			<integer>-300</integer>
			<key>zoffset</key>
			<integer>-300</integer>
			<key>scale</key>
			<integer>100</integer>
		</dict>
		<key>title</key>
		<dict>
			<key>modelName</key>
			<string>BGTitle</string>
			<key>fgTexture</key>
			<string>tex_fgtitle</string>
			<key>bgTexture</key>
			<string>tex_bgtitle</string>
			<key>xoffset</key>
			<integer>0</integer>
			<key>yoffset</key>
			<integer>-200</integer>
			<key>zoffset</key>
			<integer>-300</integer>
			<key>scale</key>
			<integer>100</integer>
		</dict>
		<key>bg1</key>
		<dict>
			<key>modelName</key>
			<string>bg1</string>
			<key>fgTexture</key>
			<string>tex_fg1</string>
			<key>bgTexture</key>
			<string>tex_bg1</string>
			<key>xoffset</key>
			<integer>1000</integer>
			<key>yoffset</key>
			<integer>-950</integer>
			<key>zoffset</key>
			<integer>-2000</integer>
			<key>scale</key>
			<integer>300</integer>
		</dict>
		<key>bg2</key>
		<dict>
			<key>modelName</key>
			<string>bg2</string>
			<key>fgTexture</key>
			<string>tex_fg2</string>
			<key>bgTexture</key>
			<string>tex_bg2</string>
			<key>xoffset</key>
			<integer>1000</integer>
			<key>yoffset</key>
			<integer>-950</integer>
			<key>zoffset</key>
			<integer>-2000</integer>
			<key>scale</key>
			<integer>300</integer>
		</dict>
		<key>bg3</key>
		<dict>
			<key>modelName</key>
			<string>bg3</string>
			<key>fgTexture</key>
			<string>tex_fg3</string>
			<key>bgTexture</key>
			<string>tex_bg3</string>
			<key>xoffset</key>
			<integer>1000</integer>
			<key>yoffset</key>
			<integer>-550</integer>
			<key>zoffset</key>
			<integer>-2000</integer>
			<key>scale</key>
			<integer>300</integer>
		</dict>
		<key>bg4</key>
		<dict>
			<key>modelName</key>
			<string>bg4</string>
			<key>fgTexture</key>
			<string>tex_fg4</string>
			<key>bgTexture</key>
			<string>tex_bg4</string>
			<key>xoffset</key>
			<integer>1000</integer>
			<key>yoffset</key>
			<integer>-1400</integer>
			<key>zoffset</key>
			<integer>-2000</integer>
			<key>scale</key>
			<integer>270</integer>
		</dict>
		<key>bg5</key>
		<dict>
			<key>modelName</key>
			<string>bg5</string>
			<key>fgTexture</key>
			<string>tex_fg5</string>
			<key>bgTexture</key>
			<string>tex_bg5</string>
			<key>xoffset</key>
			<integer>1000</integer>
			<key>yoffset</key>
			<integer>-1350</integer>
			<key>zoffset</key>
			<integer>-2000</integer>
			<key>scale</key>
			<integer>250</integer>
			<key>stars</key>
			<string>200</string>
		</dict>
	</dict>
</dict>
</plist>
