<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Results</key>
	<string>level_results</string>
	<key>Worlds</key>
	<array>
		<dict>
			<key>a</key>
			<integer>0</integer>
			<key>b</key>
			<integer>5</integer>
			<key>c</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>a</key>
			<integer>15</integer>
			<key>b</key>
			<integer>20</integer>
			<key>c</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>a</key>
			<integer>30</integer>
			<key>b</key>
			<integer>35</integer>
			<key>c</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>a</key>
			<integer>45</integer>
			<key>b</key>
			<integer>50</integer>
			<key>c</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>a</key>
			<integer>60</integer>
			<key>b</key>
			<integer>65</integer>
			<key>c</key>
			<integer>70</integer>
		</dict>
	</array>
	<key>Levels</key>
	<array>
		<string>level_around_and_over_tutorial</string>
		<string>level_spin_square</string>
		<string>level_gap_jump</string>
		<string>level_diamond_in_the_rubble</string>
		<string>level_sinking_ground</string>
		<string>level_leaping_challenge</string>
		<string>level_trap_door</string>
		<string>level_wrap_around</string>
		<string>level_under_the_wall</string>
		<string>level_the_slide</string>
		<string>level_ride_on_up</string>
		<string>level_bouncy_castle</string>
		<string>level_bounce_over</string>
		<string>level_capped_off</string>
		<string>level_kerplunk</string>
		<string>level_gear_spin</string>
		<string>level_spinning_diamond</string>
		<string>level_compressor</string>
		<string>level_log_guard</string>
		<string>level_gear_ride</string>
		<string>level_bullet_masher</string>
		<string>level_gear_sort</string>
		<string>level_need_a_ride</string>
		<string>level_guarded_hole</string>
		<string>level_sinking_ship</string>
		<string>level_elevator_launch</string>
		<string>level_drive_by</string>
		<string>level_clockwork</string>
		<string>level_mountain_climb</string>
		<string>level_fire_off</string>
		<string>level_sideload</string>
		<string>level_splashdown</string>
		<string>level_brushed_away</string>
		<string>level_thirsty</string>
		<string>level_deflection</string>
		<string>level_escort</string>
		<string>level_waterfall</string>
		<string>level_underwhere</string>
		<string>level_panfry</string>
		<string>level_hover_dash</string>
		<string>level_hurdle_jump</string>
		<string>level_barnyard</string>
		<string>level_spillover</string>
		<string>level_watchguard</string>
		<string>level_wash_cycle</string>
		<string>level_growing_up</string>
		<string>level_mouse_hole</string>
		<string>level_trampoline</string>
		<string>level_p_trap</string>
		<string>level_powerup</string>
		<string>level_half_court_shot</string>
		<string>level_apartment_complex</string>
		<string>level_toy_blocks</string>
		<string>level_playground</string>
		<string>level_airtight</string>
		<string>level_gatekeep</string>
		<string>level_faucet</string>
		<string>level_bounceback</string>
		<string>level_broken_link</string>
		<string>level_dryout</string>
		<string>level_bypass</string>
		<string>level_portal_bouncy_castle</string>
		<string>level_portal_gap_jump</string>
		<string>level_blind_timing</string>
		<string>level_portal_fire_off</string>
		<string>level_portal_bounceback</string>
		<string>level_portal_sinking_ground</string>
		<string>level_perpetual</string>
		<string>level_portal_spin_square</string>
		<string>level_portal_mountain_climb</string>
		<string>level_portal_hurdle_jump</string>
		<string>level_swing_up</string>
		<string>level_portal_underwhere</string>
		<string>level_portal_ride_on_up</string>
		<string>level_up_the_ladder</string>
	</array>
</dict>
</plist>
