<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Properties</key>
	<dict>
		<key>background</key>
		<string>bg5</string>
		<key>startX</key>
		<integer>0</integer>
		<key>startY</key>
		<integer>-50</integer>
		<key>addBalls</key>
		<integer>10</integer>
	</dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>ObjectType</key>
			<string>square</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>TouchProperty</key>
			<string>grow</string>
			<key>weight</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>-200</integer>
			<key>y</key>
			<integer>50</integer>
			<key>growSpeed</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>ObjectType</key>
			<string>square</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>TouchProperty</key>
			<string>gravity</string>
			<key>weight</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>-200</integer>
			<key>y</key>
			<integer>-50</integer>
			<key>gravityx</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>ObjectType</key>
			<string>square</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>TouchProperty</key>
			<string>teleport</string>
			<key>weight</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>-200</integer>
			<key>y</key>
			<integer>0</integer>
			<key>telex</key>
			<integer>50</integer>
			<key>teley</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Model</key>
			<string>portal_g</string>
			<key>Texture</key>
			<string></string>
			<key>Objects</key>
			<array>
				<dict>
					<key>height</key>
					<integer>80</integer>
					<key>ObjectType</key>
					<string>square</string>
					<key>rotation</key>
					<integer>0</integer>
					<key>TouchProperty</key>
					<string>teleport</string>
					<key>weight</key>
					<integer>0</integer>
					<key>width</key>
					<integer>3</integer>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>telex</key>
					<integer>-50</integer>
					<key>teley</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>ObjectType</key>
					<string>square</string>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>50</integer>
					<key>width</key>
					<integer>14</integer>
					<key>height</key>
					<integer>10</integer>
					<key>rotation</key>
					<integer>0</integer>
					<key>weight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>ObjectType</key>
					<string>square</string>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-50</integer>
					<key>width</key>
					<integer>14</integer>
					<key>height</key>
					<integer>10</integer>
					<key>rotation</key>
					<integer>0</integer>
					<key>weight</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>ObjectType</key>
			<string>custom</string>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>-60</integer>
			<key>scale</key>
			<integer>20</integer>
			<key>rotation</key>
			<integer>0</integer>
			<key>weight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Model</key>
			<string>portal_o</string>
			<key>Texture</key>
			<string></string>
			<key>Objects</key>
			<array>
				<dict>
					<key>ObjectType</key>
					<string>square</string>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>50</integer>
					<key>width</key>
					<integer>14</integer>
					<key>height</key>
					<integer>10</integer>
					<key>rotation</key>
					<integer>0</integer>
					<key>weight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>ObjectType</key>
					<string>square</string>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-50</integer>
					<key>width</key>
					<integer>14</integer>
					<key>height</key>
					<integer>10</integer>
					<key>rotation</key>
					<integer>0</integer>
					<key>weight</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>ObjectType</key>
			<string>custom</string>
			<key>x</key>
			<integer>-50</integer>
			<key>y</key>
			<integer>50</integer>
			<key>scale</key>
			<integer>20</integer>
			<key>rotation</key>
			<integer>0</integer>
			<key>weight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ObjectType</key>
			<string>square</string>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>-100</integer>
			<key>width</key>
			<integer>440</integer>
			<key>height</key>
			<integer>20</integer>
			<key>rotation</key>
			<integer>0</integer>
			<key>weight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ObjectType</key>
			<string>square</string>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>20</integer>
			<key>rotation</key>
			<integer>90</integer>
			<key>weight</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
